CONVEX_DEPLOYMENT=
POSTHOG_API_KEY=
POSTHOG_PERSONAL_API_KEY=
POSTHOG_PROJECT_ID=
VITE_CONVEX_URL=https://your-deployment.convex.cloud
VITE_POSTHOG_KEY=
VITE_WORKOS_REDIRECT_URI=https://TODO.localhost/api/auth/callback
WORKOS_API_KEY=
WORKOS_CLIENT_ID=
WORKOS_COOKIE_PASSWORD=
